html,
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 26px;
}

.nav-font {
    text-transform: uppercase;
    font-size: 14px;
}



.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}


.delivery-container {
    background-color: #2C2C2C;
    color: #ffffff;
}

#delivery-banner {
    background: #f3e2eb !important;
}

.my-account-mobile {
    display: none;
}

.search-mobile {
    display: block;
    }

header {
    background-color: #ffffff;
}

.dropdown-menu {
    background-color: #ffffff;
    font-size: inherit;
}

.dropdown-menu a {
    color: #7b7c7c;
}

.dropdown-menu a:active {
    background-color: #ffffff;
    color: #7b7c7c;
}


/* CAROUSEL SECTION */


/* Carousel caption */

.carousel-caption {
	top: 45%;
}


.carousel-caption h1{
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 600;
}

/* Carousel CTA */

.homecta {
	margin-top: 30px;
}


.carousel-black img {
	-webkit-filter: brightness(95%) saturate(50%);
	filter: brightness(95%) saturate(50%);
}


.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #ffffff;
	z-index: -1;
}


/*------ Breadcrumbs------*/

.breadcrumbs {
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 100;
}

.breadcrumb-link, .breadcrumb-link:hover {
    color: var(--color-green);
    text-decoration: none;
}

.active-breadcrumb {
    text-transform: none;
}

.breadcrumbs-text {
    font-size: 16px;
}

/*------ Back to top------*/
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.bag-text{
    color: #b8e0d2; 
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
} 

@media only screen and (max-width: 1200px) {
    .navbar {
        margin: 16px 75px;;
        padding: 0px;
    }
    
    .navbar-toggler {
        font-size: 1rem;
    }
    
    .nav-item-list {
        text-align: left;
        padding: 40px 0px;
        max-width: 100%;
        }
    
    .nav-item-list li {
        padding: 5px 0px;
        font-size: 18px;
        }
    
    .navbar-brand {
        letter-spacing: 3.5px;
        font-size: 20px;
        }
    
    .bag-icon i {
        font-size: 1rem;
    }

    .bag-container {
        margin-top: 150px;
    }


    .my-account {
        display: none;
        }
    
    /*.search-desktop {
            display: none;
            }
    */
            
    .search-mobile {
            display: block;
            }

    .my-account-mobile {
        display: block;
        }
    }

    

    @media only screen and (max-width: 768px) {
        
        .navbar {
            margin: 16px;
            padding: 0px;
        }
        
        .navbar-brand-col {
            width: auto;
        }
        
        .toggler-col {
            width: auto;
            padding: 0;
        }
        
        .bag-container {
            margin-top: 50px;
            }
        }
        
        
    @media only screen and (max-width: 600px) {
        
        .navbar-brand {
            letter-spacing: 3px;
            font-size: 16px;
            }
        }