{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">About Maisigh</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1">
    <div class="row align-items-center mt-10">
        <div class="col-sm-6">
          
                <img src="{{ MEDIA_URL }}about.jpg" alt="about-maisigh" class="about-maisigh-image">
            </div>
        
            <div class="col-sm-6">
                <!--h4 class="text-uppercase text-center mt-2">Fashion + Sustainability</h4-->

                <p class="mt-3">
                    For any non-native Irish speakers who may be slightly confused re the brand name, 'maisigh' (pronounced mosh-she) is a Gaeilge word meaning 'to decorate, to accessorise or beautify'! </p>
                    
                    <p>Sustainability and Fashion are normally not a natural pairing as Fashion's trend-driven ways press
                    us to buy new pieces every season, while sustainability is quite the opposite and asks us to pare
                    down. Choosing a beautiful piece of jewellery to enhance the look of your outfit, or as a gift for a loved
                    one is the easy part, however, have you ever considered where the materials came from, and what
                    impact the mining & manufacturing process had on the environment?</p>

                    <p>
                    Enter Maisigh. We know that simply having a good product is no longer enough to win a customer’s heart.
                    Shoppers now want more than just quality, and yearn for products that align with their personal
                    values. In the face of climate change, those of us who care enough are already considering the
                    consequences of our shopping habits.</p>
                    
                    <p>
                    Maisigh is fully committed to producing jewellery with minimal impact on the environment. 100% of our jewellery is manufactured using recycled Sterling Silver and Gold,
                    sourced from a fully certified responsible jewellery council supplier. Our diamonds are already 100% lab grown so are more affordable, have greater purity, improved
                    quality, and are far more environmentally friendly as well as sustainable.</p>

                    <p>
                    When you purchase from Maisigh, not only will you get an ethically-sourced product that you will
                    love, but you are also becoming a part of the changes we are all working towards and we hope to inspire other businesses to join us on our sustainability journey.
                </p>
            </div>

        </div>
    </div>
</div>
</div>


  


{% endblock %}